<IfModule mod_rewrite.c>
RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^api/?$ api/index.php [L,QSA]
  RewriteRule ^object/?$ object/index.php [L,QSA]
  RewriteRule ^creator/?$ creator/index.php [L,QSA]
  RewriteRule ^location/?$ location/index.php [L,QSA]
  RewriteRule ^language/?$ language/index.php [L,QSA]
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^api/oai$ api/oai.php [L,QSA]
  RewriteRule ^api/lod$ api/lod.php [L,QSA]
  RewriteRule ^id/(.*) api/rdf.php/$1 [L,QSA]
  RewriteRule ^id/(.*) api/rdf.php/$1 [L,QSA]
  RewriteRule ^version/(.*) version/version.php?path=$1 [NC,L,QSA]
</IfModule>
